##Assignment 1

##Practice Questions

#1. Write a for loop to print all even numbers from 2 to 20.

In [1]:
for number in range(2,21,2):
    print(number)

2
4
6
8
10
12
14
16
18
20

#2. Create a list of names and use a for loop to print each name in uppercase.

In [3]:
names=['Ali','Ahmad','Umar','Bilal']
for name in names:
    print(name.upper())

ALI
AHMAD
UMAR
BILAL

#3. Use a for loop with range() to print numbers from 10 to 1 in reverse order.

In [6]:
for number in range(10,1,-1):
    print(number)

10
9
8
7
6
5
4
3
2

#4. Iterate through a list of integers and print only the numbers that are divisible by 3.

In [9]:
integers=[5,12,18,20,23,25]
for int in integers:
    if int % 3 == 0:
        print(int)

12
18

#5. Write a loop that prints the squares of numbers from 1 to 10.

In [11]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for number in numbers:
    square=number**2
    print(square)

1
4
9
16
25
36
49
64
81
100

#6. Given a list of temperatures in Celsius, use a for loop to convert each to Fahrenheit.

In [5]:
celsius_temps = [0, 10, 20, 30, 40]
fahrenheit_temps = [(temp * 9/5) + 32 for temp in celsius_temps]
print(fahrenheit_temps)

[32.0, 50.0, 68.0, 86.0, 104.0]

#7. Create a for loop that prints the multiplication table of 5.

In [6]:
for i in range (1,11):
    print(f"5*{i}={5*i}")

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

#8. Write a program to find the sum of all numbers in a list using a for loop.

In [16]:
number=[5,10,15,20,25,30]
sum_result=0
for number in numbers:
    sum_result+=number
print("Sum of numbers:", sum_result)

Sum of numbers: 105

#9. Use a for loop to iterate through a string and print each character separately.

In [17]:
text="hello world!"
for character in text:
    print(character)

h
e
l
l
o

w
o
r
l
d
!

#10. Create a list of words and use a for loop to print only the words with more than 5 letters.

In [25]:
words=['Apple','Banana','Grapes','Pineapple','Orange','Peach']
for word in words:
    if len(word)>5:
        print(word)

Banana
Grapes
Pineapple
Orange